*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background: linear-gradient(45deg, rgb(59, 50, 50), rgb(22, 28, 29));
    height: 100vh;
}

.container {
    width: 800px;
    height: 600px;
    background: linear-gradient(45deg, #1068b6, #ec60a6);
    display: grid;
    grid-template: 100px 300px 100px 100px / repeat(8, 100px);
    margin: 100px auto 0;
    position: relative;
    border: 1px solid #f1f1f1;
}
h1 {
    /* deb row / deb col / fin row / fin col */
    grid-area: 1/1/2/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.block-logo-info {
    grid-area: 2/1/3/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-logo {
    width: 50%;
}
.block-logo img {
    width: 100%;
    height: auto;
}
.block-info {
    width: 50%;
}
.block-info .temps {
    font-size: 40px;
}
.block-info .temps::first-letter {
    text-transform: capitalize;
}
.block-info .temperature {
    font-size: 60px;
}
.block-info .localisation {
    font-size: 40px;
    word-wrap: break-word;
}
.heure-block-prevision {
    grid-area: 3/1/4/-1;
}
.jour-block-prevision {
    grid-area: 4/1/5/-1;
}

.jour-block-prevision,
.heure-block-prevision {
    display: grid;
    grid-template: 100px / repeat(7, 1fr);
}
.block-h,
.block-j {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #f1f1f1;
    font-size: 21px;
}

.block-h:not(:last-child),
.block-j:not(:last-child) {
    border-right: 1px solid #f1f1f1;
}

.block-h p,
.block-j p {
    margin: 5px;
}

.overlay-icon-chargement {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1.1s ease-out;
    z-index: 1000;
    background: linear-gradient(45deg, rgb(59, 50, 50), rgb(22, 28, 29));
}

.overlay-icon-chargement img {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.disparition {
    opacity: 0;
}
